<app-header></app-header>
<div class="page-content">
    <div class="form-v10-content">
        <form class="form-detail" action="#" method="post" id="myform">
            <div class="form-left">
                <h2>information de l'emetteur</h2>
                <div class="form-row">
                  
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <input type="text" name="first_name" id="first_name" class="input-text" placeholder="nom" required>
                    </div>
                    <div class="form-row form-row-2">
                        <input type="text" name="last_name" id="last_name" class="input-text" placeholder="prenom" required>
                    </div>
                </div>
              
             
                <div class="form-group">
                    <div class="form-row form-row-3">
                        <input type="text" name="business" class="business" id="business" placeholder="N° Cni " required>
                    </div>
                    <div class="form-row form-row-4">
                        <input type="text" name="company" class="company" id="company" placeholder="phone" required>

                    </div>
                </div>
            </div>


            <div class="form-left">
                <h2>information du recepteur</h2>
                <div class="form-row">
                  
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <input type="text" name="first_name" id="first_name" class="input-text" placeholder="nom" required>
                    </div>
                    <div class="form-row form-row-2">
                        <input type="text" name="last_name" id="last_name" class="input-text" placeholder="prenom" required>
                    </div>
                </div>
              
             
                <div class="form-group  input-group">
                    <div class="form-row form-row-3">
                        <input type="text" name="business" class="business" id="business" placeholder="N° Cni " required>
                    </div>
                    <div class="form-row form-row-4">
                        <input type="text" name="company" class="company" id="company" placeholder="phone" required>

                    </div>
                </div>
            </div>
            
            <div class="form-right" style="color:white;">
                <h2> details transferts</h2>
                
                
                <div class="form-row">
                    <span class="input-group-text">$</span>

                    <input type="number" name="company" class="company" id="company" placeholder="montant à envoyer" required>
                </div>

                <div class="form-row">
                    <input type="number" name="company" class="company" id="company" placeholder="montant à recevoir" required>
                </div>
                
                <div class="form-checkbox">
                    <label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
                          <input type="checkbox" name="checkbox">
                          <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Valider">
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>